# Pratham-Ashok-Asrani_A-75

In [ ]:
# 1. Write a python program to Concatenate two Dictionaries into one.
def Concatenate(d1, d2):
  print("Concating the dictionarie 1 into 2")
  d2.update(d1)
  print(dict2)
  print("Concating the dictionarie 2 into 1")
  d1.update(d2)
  print(dict1)
dict1 = {1 : 'one', 2 : 'two', 3 : 'three', 4 : 'four', 5 : 'five'}
dict2 = {6 : 'six', 7 : 'seven', 8 : 'eight', 9 : 'nine', 10 : 'ten'}

Concatenate(dict1, dict2)

Concating the dictionarie 1 into 2
{6: 'six', 7: 'seven', 8: 'eight', 9: 'nine', 10: 'ten', 1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}
Concating the dictionarie 2 into 1
{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six', 7: 'seven', 8: 'eight', 9: 'nine', 10: 'ten'}

In [ ]:
# 2. Write a python program to concatenate three Dictionaries into one empty dictionary
def Concatenate(d1, d2, d3, d4):
  print("Concating the dictionarie 1 into 2")
  d4.update(d1)
  d4.update(d2)
  d4.update(d3)
  return d4

dict1 = {1 : 'one', 2 : 'two', 3 : 'three', 4 : 'four', 5 : 'five'}
dict2 = {6 : 'six', 7 : 'seven', 8 : 'eight', 9 : 'nine', 10 : 'ten'}
dict3 = {'A' : 'apple', 'B' : 'Banana', 'C' : 'Cherry'}
dict4 = {}

result = Concatenate(dict1, dict2, dict3, dict4)
print(result)

Concating the dictionarie 1 into 2
{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six', 7: 'seven', 8: 'eight', 9: 'nine', 10: 'ten', 'A': 'apple', 'B': 'Banana', 'C': 'Cherry'}

In [ ]:
# 3. Write a python program to Create a dictionary in python , append elements in the dictionary and remove the given
# Key from a Dictionary.
dict_num = {}
value = 100
for x in range (1, 11):
  dict_num[x] = value
  value += 100
print("Original dict : ")
print(dict_num)
print("\n")
key = int(input("Enter the key you want to remove : "))
pop_element = dict_num.pop(key)
print("Updated dict : ")
print(dict_num)

Original dict :
{1: 100, 2: 200, 3: 300, 4: 400, 5: 500, 6: 600, 7: 700, 8: 800, 9: 900, 10: 1000}


Enter the key you want to remove : 6
Updated dict :
{1: 100, 2: 200, 3: 300, 4: 400, 5: 500, 7: 700, 8: 800, 9: 900, 10: 1000}

In [ ]:
# 4. Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-
# 30, and 31-40 respectively. Access the fifth value of each key from the dictionary.
dict1 = {
    'x' : [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
    'y' : [21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
    'z' : [31, 32, 33, 34, 35, 36, 37, 38, 39, 40]
}
# accessijng ficeth element of the dict key
index_value = 4 # fifth element index is 4
print("The fifth value of the each element in dictionary is : ")
for i in dict1:
  print(dict1[i][index_value])

The fifth value of the each element in dictionary is :
15
25
35

In [ ]:
# 5. Write a program to input your friend’s names and their Phone Numbers and store them in the dictionary as the key-
# value pair.
# Perform the following operations on the dictionary:
# a) Display the name and phone number of all your friends
# b) Add a new key-value pair in this dictionary and display the modified dictionary
# c) Delete a particular friend from the dictionary
# d) Modify the phone number of an existing friend
# e) Check if a friend is present in the dictionary or not
# f) Display the dictionary in sorted order of names

dict_friend = {}
for i in range (3):
  name = input("Enter name : ")
  contact_number = input("Enter contact_number : ")
  dict_friend[name] = contact_number
print("\nThe contact list : ")
print(dict_friend) # a completed

name = input("\nEnter name you want to add in contact list : ")
contact_number = input("Enter contact_number : ")
dict_friend[name] = contact_number
print("Updated dict : ")
print(dict_friend) # b completed

key = input("\nEnter name you want to delete for the dict : ")
pop_element = dict_friend.pop(key)
print("7Deleted the entered key\nThe Dict now : ")
print(dict_friend) # c completed

key_name = input('\nEnter the name of friend you want to change the number : ')
new_number = int(input("Enter the number : "))
dict_friend[key_name] = new_number
print(dict_friend) # d completed

key_find = input("\nEnter name you want to find : ")
if key_find in dict_friend:
  print("the number of",key_find,"is", dict_friend[key_find])
else:
  print("Not found") # e completed

sorted_dict_friend = sorted(dict_friend.items(), key = lambda x: x[0])
print(sorted_dict_friend)# f completed

Enter name : Pratham
Enter contact_number : 9145495032
Enter name : Yash
Enter contact_number : 9545367841
Enter name : Vidhi
Enter contact_number : 8847763061

The contact list :
{'Pratham': '9145495032', 'Yash': '9545367841', 'Vidhi': '8847763061'}

Enter name you want to add in contact list : Yashika
Enter contact_number : 100
Updated dict :
{'Pratham': '9145495032', 'Yash': '9545367841', 'Vidhi': '8847763061', 'Yashika': '100'}

Enter name you want to delete for the dict : Yashika
7Deleted the entered key
The Dict now :
{'Pratham': '9145495032', 'Yash': '9545367841', 'Vidhi': '8847763061'}

Enter the name of friend you want to change the number : Vidhi
Enter the number : 93730000
{'Pratham': '9145495032', 'Yash': '9545367841', 'Vidhi': 93730000}

Enter name you want to find : Pratham
the number of  Pratham is 9145495032
[('Pratham', '9145495032'), ('Vidhi', 93730000), ('Yash', '9545367841')]

In [ ]:
# 6. You are the manager of a supermarket. Create two list for item_name and its corresponding price. You have a list of items and their prices that consumers bought on a particular day. Your task is to create dictionary with key-value pair as “item_name : price”. Print each item_name and net_price using a Dictionary. Also , sort dictionary with respect to price.

list_item_name = [
    'apple','banana','cherry','cadbury','vegetables','biscuits','dates','dryfruits','kajukatli','gulbjamun'
]
list_item_price = [
    100, 60, 200, 500, 500, 200, 1000, 2000, 1000, 300
]
key_list_user_item = []
Number_of_items_user_purchased = int(input("Enter the number of item : "))
for i in range (Number_of_items_user_purchased):
  item = input("Enter the item name : ")
  key = list_item_name.index(item)
  key_list_user_item.append(key)

# print(key_list_user_item) # key corresponds to the item is saved through this will access the price accordingly

dict_item_price = {}
for i in range (Number_of_items_user_purchased):
    dict_item_price[list_item_name[key_list_user_item[i]]] = (list_item_price[key_list_user_item[i]])
    # Explanation : Basically in key of dict we are passing the item name coresponds to it key and in value we are passing price coresponds to it's index
print("\n", dict_item_price) # passed

# Sorting dictionary : # sorted functioin initializing a list and inside creating a tuple for pair
sorted_dict_item_price = dict(sorted(dict_item_price.items(), key = lambda x:x[1])) # initilaizing as dict
print("\nSorted dict as per value")
print(sorted_dict_item_price)

sum = 0
for i  in sorted_dict_item_price.values():
    sum += i # Final Amount to be paid

print("\n############Bill###############")
for i, j in sorted_dict_item_price.items():
    print(format(i), " \t\t", format(j))
print("############Total##############")
print("Total : \t\t", format(sum))

Enter the number of item : 5
Enter the item name : cherry
Enter the item name : banana
Enter the item name : vegetables
Enter the item name : kajukatli
Enter the item name : dryfruits

 {'cherry': 200, 'banana': 60, 'vegetables': 500, 'kajukatli': 1000, 'dryfruits': 2000}
Sorted dict as per value
{'banana': 60, 'cherry': 200, 'vegetables': 500, 'kajukatli': 1000, 'dryfruits': 2000}
############Bill###############
banana  		 60
cherry  		 200
vegetables  		 500
kajukatli  		 1000
dryfruits  		 2000
############Total##############
Total : 		 3760

In [ ]:
# (vii) Create a nested dictionary as given below. Food_blogger= { City_name: { food_speciality :[outlet1,utlet2,….outletn]}}
# Example:
# Food_blogger= { “Nagpur” : { “poha”: [“Bardi”, “KP ground”] }
# “Nasik”: { “samosa”: [“ABC”, “XYZ”] }

# }

# When you run your program it should
#  ask the user to enter a city name(atleast 5), and return the details of food specialities (atleast 2 for each city)
# of that city back to the user .
#  ask the user to enter a food speciality and return the name of that city back to the user.
#  ask the user to enter a city and food speciality and return the name of outlets back to the user.

dict_famous_food_details = {
    'Nagpur' : {'poha' : ['jaripatka', 'KP ground'], 'oranges' : ['cotton market', 'railway station market']},
    'Nasik'  : {'Beard pakoda' : ['ABC-CENTER', 'XYZ-CENTER'], 'chai' : ['Special Tea Stall', 'Burner Cafe']},
    'Bhopal' : {'Patties'  : ['Karond chauraya', 'Patties center'], 'Lassi' : ['Bus-stand Mobile Market', 'Karond   Chauraya']},
    'Mumbai' : {'Chaat' : ['CSMT front gate', 'near fashion street'], 'Fruit mixture' : ['Fruit market near CSMT']},
    'Chennai' : {'Barotta' : ['Kanchipuram'], 'Dosa' : ['Famous dosa shop in kanchipuram near KSM super-market']}
}

def find_food(dict_famous_food_details):
    city_name = input("Enter the city name : ")
    for city, food in dict_famous_food_details.items():
        if(city_name == city):
            for i, j in food.items():
                print(i, ":", j)
            return 1
    return 0
        
if(find_food(dict_famous_food_details) == 0): # 1 passed
    print("Not found")

def find_city():
    food_name = input("\nEnter food name : ")
    for i in dict_food:
        if(food_name in i):
            return dict_food.index(i)    
    return -1

dict_food = []
dict_city = []
for i, j in dict_famous_food_details.items():
    dict_food.append(j.keys())
    dict_city.append(i)

index_of_food = find_city()
if(index_of_food == -1):
    print("Not in data")
else:
    print(dict_city[index_of_food]) # task 2 completed


def find_city_1():
    food_city = input("\nEnter city name : ")
    for i in dict_city:
        if(food_city in i):
            return dict_city.index(i)    
    return -1

def find_food_1():
    food_name = input("Enter food name : ")
    for i in dict_food:
        if(food_name in i):
            return dict_food.index(i)    
    return -1

city1 = find_city_1()
food_1 = find_food_1()
place = []
for i, j in dict_famous_food_details.items():
    for k, l in j.items():
        place.append(l)
print(place[food_1])# task 3 completed

Enter the city name : Chennai
Barotta : ['Kanchipuram']
Dosa : ['Famous dosa shop in kanchipuram near KSM super-market']

Enter food name : Patties
Bhopal

Enter city name : Mumbai
Enter food name : Chaat
['Special Tea Stall', 'Burner Cafe']

In [ ]:
# 8 . Write a Python program to on sets.(using both operator and method)
# Following are the two sets: cultural_activity, sports_activity which contains name of students
# participating. .(using both operator and method)
#  Display students participating in both cultural_activity and sports_activity.
#  Display students participating in cultural_activity but not in sports_activity.
#  Display students participating in sports_activity but not in cultural_activity.
#  Display all the students participating in cultural_activity , sports_activity and in both.

cultural_activity={'Aayansh', 'Brooke', 'Advik', 'Bobby', 'Ben', 'Bella', 'Pratham'}
sports_activity={'Anvi', 'Bella', 'Adya', 'Ben', 'Anvit', 'Aayansh', 'Pratham'}

print("Students participating in cultural as well as sports activity are : ")
print(cultural_activity & sports_activity )

print("\nStudents participating in cultural activity (not in sports) are : ")

print(cultural_activity - sports_activity)

print("\nStudents participating in  sports activity (not in cultural) are : ")
print(sports_activity - cultural_activity)

print("\nStudents participating in sports and cultural activity are : ")
print(sports_activity.union(cultural_activity))

Students participating in cultural as well as sports activity are :
{'Aayansh', 'Ben', 'Pratham', 'Bella'}

Students participating in cultural activity (not in sports) are :
{'Bobby', 'Brooke', 'Advik'}

Students participating in  sports activity (not in cultural) are :
{'Anvi', 'Adya', 'Anvit'}

Students participating in sports and cultural activity are :
{'Adya', 'Aayansh', 'Advik', 'Anvi', 'Anvit', 'Bella', 'Ben', 'Pratham', 'Brooke', 'Bobby'}

In [ ]:
# 9. Set contains names which begin either with A or with B. Write a program to separate out the names into two sets, one containing names beginning with A and another containing names beginning with B.

name = {'Aayansh', 'Brooke', 'Advik', 'Bobby',
        'Anvi', 'Bella', 'Adya', 'Ben', 'Anvit'}

name_starts_with_A = set()
name_starts_with_B = set()

for i in name:
    if i.startswith('A'):
        name_starts_with_A.add(i)
    else:
        name_starts_with_B.add(i)

print("Name starting with 'A' are follow as : ")
for i in name_starts_with_A:
    print(i)

print()
print("Name starting with 'B' are follow as : ")
for i in name_starts_with_B:
    print(i)

Name starting with 'A' are follow as :
Aayansh
Adya
Advik
Anvi
Anvit

Name starting with 'B' are follow as :
Bella
Ben
Brooke
Bobby

In [2]:
# 10. Write a program to create a set containing 10 randomly generated numbers in the range 15 to 45. Count how many of these numbers are less than 30. Delete all numbers which are greater than 35.

import random
random_number = set()

for i in range(10):
    k = random.randint(15, 45)
    random_number.add(k)

count_lessThan_30 = 0
for i in random_number:
    if (i < 30):
        count_lessThan_30 += 1
    if (i > 35):
        random_number.remove

print("Number of elements less than 30 is :", count_lessThan_30)
print("\nThe set after deleting the elements greater than 35:")
print(random_number)

Number of elements less than 30 is : 6

The set after deleting the elements greater than 35:
{32, 36, 42, 16, 23, 24, 26, 27, 28, 30}